    <!-- Page Content -->
    <div class="container">

            <div class="row">
            <div class="col-md-12">

                <div class="row">
                <h2>Contact Us</h2>
                <br>
            </div>
            </div>


                <div class="row">

                    <!-- PRODUCT -->
                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <div>
                            <div class="caption">

                                <h4><a href="mailto:bizdev@snapscan.co.zasubject=SnapScan_Deals">Send an email to bizdev@snapscan.co.za</a></h4>


                                <!-- TERMS AND CONDITIONS -->
                                <!-- i><b>Terms and Conditions:</b>
                                <ul>
                                    <li>Appointments Monday - Friday, 09:00 - 18:00</li>
                                    <li>First time clients @ Phat Sam Studio</li>
                                    <li>One Deal per client.</li>
                                    <li>Ladies only (or the perfect gift for a lady friend)</li>
                                </ul>
                                </i> -->

                            </div>


                        </div>
                    </div>



                </div>



        </div>

    </div>
    <!-- /.container -->
