    <!-- Page Content -->
    <div class="container">

            <div class="row">
            <div class="col-md-12">

                <div class="row">
                <h2 align="center">CAPE TOWN</h2>
                <br>
                </div>
            </div>
            </div>

            <!-- MODAL BUTTON -->
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">View More</button>

            <!-- MODAL -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Join SnapDeals</h4>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label for="recipient-name" class="control-label">Your email address:</label>
                        <input type="text" class="form-control" id="recipient-name">
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Join</button>
                  </div>
                </div>
              </div>
            </div>


                <div class="row">


                    <!-- PRODUCT ONE -->
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="./img/products/cape-town/deal-1.png" alt="">
                            <div class="caption">
                                <h4>One Hour Massage Treatment</h4>
                                <h5><a href="https://www.facebook.com/hommemenspa">Homme Men's Spa - Cape Town CBD</a></h5>
                                <p>An hour long massage at Homme, the professional skincare and grooming lounge for men</p>

                                <!-- TERMS AND CONDITIONS -->
                                <i>Terms and Conditions:
                                <ul>
                                    <li>Only 40 vouchers available</li>
                                    <li>Only for men</li>
                                    <li>One deal per client</li>
                                    <li>Vouchers expire 1 June 2016</li>
                                </ul>
                                </i>
                            </div>

                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr align="center">
                                            <td><b><h3>R300</h3></b>YOU PAY</td>
                                            <td><h3>R480</h3>RETAIL</td>
                                            <td><h3>R180 (38%)</h3>YOU SAVE</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="ratings">
                                <p class="visible-xs" align="center">
                                    <a href="https://pos.snapscan.io/qr/SSDeals?&amount=30000&id=Homme_Massage" target="_blank" class="btn btn-primary">Buy with SnapScan</b></a>
                                </p>
                            </div>
                            <div>
                                <img class="hidden-xs" src="./img/products/cape-town/qr-1.png" alt="">
                            </div>
                        </div>
                    </div>

                    <!-- PRODUCT SIX -->
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="./img/products/cape-town/deal-6.png" alt="">
                            <!-- <div class="absolute" align="center" >
                              <img src="./img/deal-of-the-day.png" alt="">
                              <h3 class="text" align="center">SAVE<br>38%</h3>
                            </div> -->

                            <div class="caption">
                                <h4>Goede Hoop Magnum Pinotage 2002</h4>
                                <h5><a href="http://www.cybercellar.com/">Cybercellar.com</a></h5>
                                <p>A perfect gift for Xmas this season of an exclusive older vintage Pinotage from an award winning Stellenbosch estate. For best results decant before serving as magnum bottles tend to need more oxygen exposure, a harmless sediment may also be present due to the wine being an older vintage. <i>Not for sale to persons under the age of 18.</i></p>

                                <!-- TERMS AND CONDITIONS -->
                                <i>
                                A delicious red wine from the Bottelary Hills in Stellenbosch, shows typicity to Pinotage with excellent biting tannins allowing it to age well.</i>
                            </div>

                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr align="center">
                                            <td><b><h3>R250</h3></b>YOU PAY</td>
                                            <td><h3>R400</h3>RETAIL</td>
                                            <td><h3>R150 (38%)</h3>YOU SAVE</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="ratings">
                                <p class="visible-xs" align="center">
                                    <a href="https://pos.snapscan.io/qr/Vy8KC47N?&amount=25000&id=Goede_Hoop" target="_blank" class="btn btn-primary">Buy with SnapScan</b></a>
                                </p>
                            </div>
                            <div>
                                <img class="hidden-xs" src="./img/products/cape-town/qr-6.png" alt="">
                            </div>
                        </div>
                    </div>

                    <!-- PRODUCT FIVE -->
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="./img/products/cape-town/deal-5.png" alt="">
                            <div class="caption">

                                <h4>Local Craft Beer Mixed Offer</h4>
                                <h5><a href="http://www.cybercellar.com/">Cybercellar.com</a></h5>
                                <p>A 24 bottle tasting journey of some of SA's hottest craft beers around town. Consisting of a well rounded mix of Jack Black ales and Cape Brewing Company's excellently crafted beers. <i>Not for sale to persons under the age of 18.</i></p>

                                <!-- TERMS AND CONDITIONS -->
                                <i>Each case consists of 4 of each: CBC Pilsner NV, CBC Krystal Weiss NV, CBC Lager NV, CBC Amber Weiss NV, Jack Black Beer Lumberjack NV, Jack Black Beer Butcher Block NV</li>
                                </i>
                            </div>

                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr align="center">
                                            <td><b><h3>R495</h3></b>YOU PAY</td>
                                            <td><h3>R650</h3>RETAIL</td>
                                            <td><h3>R155 (24%)</h3>YOU SAVE</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="ratings">
                                <p class="visible-xs" align="center">
                                    <a href="https://pos.snapscan.io/qr/8tzKIicG?&amount=49500&id=Cybercellar_Local_Craft_Beer" target="_blank" class="btn btn-primary">Buy with SnapScan</b></a>
                                </p>
                            </div>
                            <div>
                                <img class="hidden-xs" src="./img/products/cape-town/qr-5.png" alt="">
                            </div>
                        </div>
                    </div>

                    <!-- PRODUCT 2 -->
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="./img/products/cape-town/deal-2.png" alt="">
                            <div class="caption">
                                <h4>Haircut</h4>
                                <h5><a href="http://www.mensroom.co.za/">Mensroom - Diep River/Muizenberg</a></h5>
                                <p>Men go in. Legends com out! Mensroom is always striving to give clients the best service.</p>

                                <!-- TERMS AND CONDITIONS -->
                                <i>Terms and Conditions:
                                <ul>
                                    <li>Only 300 vouchers available</li>
                                    <li>Only for men</li>
                                    <li>One deal per client</li>
                                    <li>Vouchers expire 1 March 2016</li>
                                </ul>
                                </i>
                            </div>

                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr align="center">
                                            <td><b><h3>R180</h3></b>YOU PAY</td>
                                            <td><h3>R240</h3>RETAIL</td>
                                            <td><h3>R60 (25%)</h3>YOU SAVE</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="ratings">
                                <p class="visible-xs" align="center">
                                    <a href="https://pos.snapscan.io/qr/SSDeals?&amount=18000&id=Mensroom_Haircut" target="_blank" class="btn btn-primary">Buy with SnapScan</b></a>
                                </p>
                            </div>
                            <div>
                                <img class="hidden-xs" src="./img/products/cape-town/qr-2.png" alt="">
                            </div>
                        </div>
                    </div>


                    <!-- PRODUCT SEVEN -->
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="./img/products/cape-town/deal-7.png" alt="">
                            <div class="caption">
                                <h4>Spray Tan</h4>
                                <h5><a href="https://www.facebook.com/hommemenspa">Homme Spa - Cape Town CBD</a></h5>
                                <p>Organic, no fragrance spray tan that dries instantly and lasts for up to 2 weeks!</p>

                                <!-- TERMS AND CONDITIONS -->
                                <i>Terms and Conditions:
                                <ul>
                                    <li>Only 40 vouchers available</li>
                                    <li>Only for men</li>
                                    <li>One deal per client</li>
                                    <li>Vouchers expire 1 June 2016</li>
                                </ul>
                                </i>
                            </div>

                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr align="center">
                                            <td><b><h3>R200</h3></b>YOU PAY</td>
                                            <td><h3>R400</h3>RETAIL</td>
                                            <td><h3>R200 (50%)</h3>YOU SAVE</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="ratings">
                                <p class="visible-xs" align="center">
                                    <a href="https://pos.snapscan.io/qr/SSDeals?&amount=20000&id=Homme_Spray_Tan" target="_blank" class="btn btn-primary">Buy with SnapScan</b></a>
                                </p>
                            </div>
                            <div>
                                <img class="hidden-xs" src="./img/products/cape-town/qr-7.png" alt="">
                            </div>
                        </div>
                    </div>



                    <!-- PRODUCT THREE -->
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="./img/products/cape-town/deal-3.png" alt="">
                            <div class="caption">

                                <h4>Full Body Brilliant Tan</h4>
                                <h5><a href="https://www.facebook.com/Phat-Sam-Studio-178266982263891/">Phat Sam - Goodwood</a></h5>
                                <p>Full Body Brilliant Tan SprayTan, including a Metallic Tattoo Sheet</p>

                                <!-- TERMS AND CONDITIONS -->
                                <i>Terms and Conditions:
                                <ul>
                                    <li>Only 20 vouchers available</li>
                                    <li>Appointments Monday - Friday, 09:00 - 18:00</li>
                                    <li>First time clients - One Deal per client</li>
                                    <li>Ladies only (or the perfect gift for a lady friend)</li>
                                </ul>
                                </i>
                            </div>

                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr align="center">
                                            <td><b><h3>R250</h3></b>YOU PAY</td>
                                            <td><h3>R350</h3>RETAIL</td>
                                            <td><h3>R100 (29%)</h3>YOU SAVE</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="ratings">
                                <p class="visible-xs" align="center">
                                    <a href="https://pos.snapscan.io/qr/SSDeals?&amount=25000&id=Phat_Sam_Spray_Tan" target="_blank" class="btn btn-primary">Buy with SnapScan</b></a>
                                </p>
                            </div>
                            <div>
                                <img class="hidden-xs" src="./img/products/cape-town/qr-3.png" alt="">
                            </div>
                        </div>
                    </div>


                    <!-- PRODUCT FOUR-->
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="./img/products/cape-town/deal-4.png" alt="">
                            <div class="caption">

                                <h4>Individual Eyelash Extensions</h4>
                                <h5><a href="https://www.facebook.com/Phat-Sam-Studio-178266982263891/">Phat Sam - Goodwood</a></h5>
                                <p>Full Set Individual Application Eyelash Extensions, including a Brow Tint & Tidy & an EyeSlices Treatment</p>

                                <!-- TERMS AND CONDITIONS -->
                                <i>Terms and Conditions:
                                <ul>
                                    <li>Only 20 vouchers available</li>
                                    <li>Appointments Monday - Friday, 09:00 - 18:00</li>
                                    <li>First time clients - One Deal per client</li>
                                    <li>Ladies only (or the perfect gift for a lady friend)</li>
                                </ul>
                                </i>





                                <!-- MODAL BUTTON -->
                                <!-- <%= link_to '<a data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">View Terms and Conditions</a>' %> -->
                                <!-- <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Terms and Conditions" data-content="
                                And here's some amazing content. It's very engaging. Right?">
                                  View Terms and Conditions
                                </button> -->

                                <!-- MODAL -->
                                <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="exampleModalLabel">Terms and Conditions</h4>
                                      </div>
                                      <div class="modal-body">
                                          <div class="form-group">
                                            <ul>
                                              <% p.terms_and_conditions.each do |f| %>
                                                <li><%= f %></li>
                                              <% end %>
                                            </ul>
                                          </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Close</span></button>
                                      </div>
                                    </div>
                                  </div>
                                </div> -->

                                <!-- MODAL TERMS AND CONDITIONS -->
                                <!-- <p type="button" data-toggle="modal" data-target=".bs-example-modal-sm"><a><i>Terms and Conditions</i></a></p>

                                <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                  <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                    <h4 class="modal-title" id="myModalLabel">Terms and Conditions</h4>
                                          <div class="modal-body">
                                            <ul>
                                                <li>Appointments Monday - Friday, 09:00 - 18:00</li>
                                                <li>First time clients @ Phat Sam Studio</li>
                                                <li>One Deal per client.</li>
                                            </ul>
                                          </div>
                                    </div>
                                  </div>
                                </div> -->
                            </div>

                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr align="center">
                                            <td><b><h3>R400</h3></b>YOU PAY</td>
                                            <td><h3>R550</h3>RETAIL</td>
                                            <td><h3>R150 (27%)</h3>YOU SAVE</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="ratings">
                                <p class="visible-xs" align="center">
                                    <a href="https://pos.snapscan.io/qr/SSDeals?&amount=40000&id=Phat_Sam_Eyelash_Extension" target="_blank" class="btn btn-primary">Buy with SnapScan</b></a>
                                </p>
                            </div>
                            <div>
                                <img class="hidden-xs" src="./img/products/cape-town/qr-4.png" alt="">

                            </div>
                            </div>
                        </div>
                    </div>



                </div>



        </div>

    </div>
